ChatterBot==1.2.3
chatterbot-corpus==1.2.2
fastapi==0.115.10
pydantic==2.10.6
SQLAlchemy==2.0.39
spacy==3.8.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
uvicorn==0.34.0
